extends layout

block content
  h1= title
  p Esta pagina fue desarrollada y probada con lo suiguiente: Node js: br
  p Modulos usados: pg (usado para la conexion con la base de datos POSTGRESQL
  p                socket.io (sockets de comunicacion entre el servidor y el cliente)
  p                express (framework que ayuda con la organizacion y la utilizacion de nodejs)
  p           
  p Specs de la computadora de desarrolador:
  p                                            * Ubuntu 14.04
  p                                            * 12GB Ram Corshair
  p                                            * 512GB Disco Duro
  p                                            * Intel Core i7 Mobile
  p         
  p                                           
  p REQUERIMIENTOS:
  p Es una pagina web -_-, solamente usar un buen navegador web (chrome, firefox, safari, opera, etc)
  p 
  p 
  p DESCRIPCION GENERAL DEL FUNCIONAMIENTO: 
  p 
  p La aplicacion se basa en modulos, y funciones asincronas (callbacks de nodejs)
  p 
  p Por ser una aplicacion en nodejs, esta trabaja con javascript puro, pero lo hace de ambos lados de la 
  p interaccion web (servidor y cliente). 
  p 
  p Todo eso hace que la versatilidad de la pagina sea mucho mas practica, ademas que este implementa un paradigma muy peculiar de programacion. Personalmente es muy agradable trabar con este tipo de lenguajes.
  p 
  p Por otra parte, todas las consultas necesarias para el funcionamiento de la pagina se encuentran en la parte del servidor (obviamente). Por lo que en la parte del servidor podras encontrar el conjunto
  p De consultas listas para ser ejecutadas al DBMS.
  p 







